In [1]:
import pandas as pd

In [2]:
mpg = pd.read_csv('mpg.csv')

In [3]:
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [6]:
for a,b,c in zip(mpg.manufacturer, mpg.model, mpg.year):
    print(a,b,c)

audi a4 1999
audi a4 1999
audi a4 2008
audi a4 2008
audi a4 1999
audi a4 1999
audi a4 2008
audi a4 quattro 1999
audi a4 quattro 1999
audi a4 quattro 2008
audi a4 quattro 2008
audi a4 quattro 1999
audi a4 quattro 1999
audi a4 quattro 2008
audi a4 quattro 2008
audi a6 quattro 1999
audi a6 quattro 2008
audi a6 quattro 2008
chevrolet c1500 suburban 2wd 2008
chevrolet c1500 suburban 2wd 2008
chevrolet c1500 suburban 2wd 2008
chevrolet c1500 suburban 2wd 1999
chevrolet c1500 suburban 2wd 2008
chevrolet corvette 1999
chevrolet corvette 1999
chevrolet corvette 2008
chevrolet corvette 2008
chevrolet corvette 2008
chevrolet k1500 tahoe 4wd 2008
chevrolet k1500 tahoe 4wd 2008
chevrolet k1500 tahoe 4wd 1999
chevrolet k1500 tahoe 4wd 1999
chevrolet malibu 1999
chevrolet malibu 2008
chevrolet malibu 1999
chevrolet malibu 2008
chevrolet malibu 2008
dodge caravan 2wd 1999
dodge caravan 2wd 1999
dodge caravan 2wd 1999
dodge caravan 2wd 1999
dodge caravan 2wd 2008
dodge caravan 2wd 2008
dodge caravan 2wd 2008
dodge caravan 2wd 1999
dodge caravan 2wd 1999
dodge caravan 2wd 2008
dodge caravan 2wd 2008
dodge dakota pickup 4wd 2008
dodge dakota pickup 4wd 2008
dodge dakota pickup 4wd 1999
dodge dakota pickup 4wd 1999
dodge dakota pickup 4wd 2008
dodge dakota pickup 4wd 2008
dodge dakota pickup 4wd 2008
dodge dakota pickup 4wd 1999
dodge dakota pickup 4wd 1999
dodge durango 4wd 1999
dodge durango 4wd 2008
dodge durango 4wd 2008
dodge durango 4wd 2008
dodge durango 4wd 1999
dodge durango 4wd 2008
dodge durango 4wd 1999
dodge ram 1500 pickup 4wd 2008
dodge ram 1500 pickup 4wd 2008
dodge ram 1500 pickup 4wd 2008
dodge ram 1500 pickup 4wd 2008
dodge ram 1500 pickup 4wd 2008
dodge ram 1500 pickup 4wd 2008
dodge ram 1500 pickup 4wd 1999
dodge ram 1500 pickup 4wd 1999
dodge ram 1500 pickup 4wd 2008
dodge ram 1500 pickup 4wd 1999
ford expedition 2wd 1999
ford expedition 2wd 1999
ford expedition 2wd 2008
ford explorer 4wd 1999
ford explorer 4wd 1999
ford explorer 4wd 1999
ford explorer 4wd 2008
ford explorer 4wd 2008
ford explorer 4wd 1999
ford f150 pickup 4wd 1999
ford f150 pickup 4wd 1999
ford f150 pickup 4wd 1999
ford f150 pickup 4wd 1999
ford f150 pickup 4wd 2008
ford f150 pickup 4wd 1999
ford f150 pickup 4wd 2008
ford mustang 1999
ford mustang 1999
ford mustang 2008
ford mustang 2008
ford mustang 1999
ford mustang 1999
ford mustang 2008
ford mustang 2008
ford mustang 2008
honda civic 1999
honda civic 1999
honda civic 1999
honda civic 1999
honda civic 1999
honda civic 2008
honda civic 2008
honda civic 2008
honda civic 2008
hyundai sonata 1999
hyundai sonata 1999
hyundai sonata 2008
hyundai sonata 2008
hyundai sonata 1999
hyundai sonata 1999
hyundai sonata 2008
hyundai tiburon 1999
hyundai tiburon 1999
hyundai tiburon 2008
hyundai tiburon 2008
hyundai tiburon 2008
hyundai tiburon 2008
hyundai tiburon 2008
jeep grand cherokee 4wd 2008
jeep grand cherokee 4wd 2008
jeep grand cherokee 4wd 1999
jeep grand cherokee 4wd 1999
jeep grand cherokee 4wd 2008
jeep grand cherokee 4wd 2008
jeep grand cherokee 4wd 2008
jeep grand cherokee 4wd 2008
land rover range rover 1999
land rover range rover 2008
land rover range rover 2008
land rover range rover 1999
lincoln navigator 2wd 1999
lincoln navigator 2wd 1999
lincoln navigator 2wd 2008
mercury mountaineer 4wd 1999
mercury mountaineer 4wd 2008
mercury mountaineer 4wd 2008
mercury mountaineer 4wd 1999
nissan altima 1999
nissan altima 1999
nissan altima 2008
nissan altima 2008
nissan altima 2008
nissan altima 2008
nissan maxima 1999
nissan maxima 1999
nissan maxima 2008
nissan pathfinder 4wd 1999
nissan pathfinder 4wd 1999
nissan pathfinder 4wd 2008
nissan pathfinder 4wd 2008
pontiac grand prix 1999
pontiac grand prix 1999
pontiac grand prix 1999
pontiac grand prix 2008
pontiac grand prix 2008
subaru forester awd 1999
subaru forester awd 1999
subaru forester awd 2008
subaru forester awd 2008
subaru forester awd 2008
subaru forester awd 2008
subaru impreza awd 1999
subaru impreza awd 1999
subaru impreza awd 1999
subaru impreza awd 1999
subaru impreza awd 2008
subaru impreza awd 2008
subaru impreza awd 2008
subaru impreza awd 2008
toyota 4runner 4wd 1999
toyota 4runner 4wd 1999
toyota 4runner 4wd 1999
toyota 4runner 4wd 1999
toyota 4runner 4wd 2008
toyota 4runner 4wd 2008
toyota camry 1999
toyota camry 1999
toyota camry 2008
toyota camry 2008
toyota camry 1999
toyota camry 1999
toyota camry 2008
toyota camry solara 1999
toyota camry solara 1999
toyota camry solara 2008
toyota camry solara 2008
toyota camry solara 1999
toyota camry solara 1999
toyota camry solara 2008
toyota corolla 1999
toyota corolla 1999
toyota corolla 1999
toyota corolla 2008
toyota corolla 2008
toyota land cruiser wagon 4wd 1999
toyota land cruiser wagon 4wd 2008
toyota toyota tacoma 4wd 1999
toyota toyota tacoma 4wd 1999
toyota toyota tacoma 4wd 2008
toyota toyota tacoma 4wd 1999
toyota toyota tacoma 4wd 1999
toyota toyota tacoma 4wd 2008
toyota toyota tacoma 4wd 2008
volkswagen gti 1999
volkswagen gti 1999
volkswagen gti 2008
volkswagen gti 2008
volkswagen gti 1999
volkswagen jetta 1999
volkswagen jetta 1999
volkswagen jetta 1999
volkswagen jetta 2008
volkswagen jetta 2008
volkswagen jetta 2008
volkswagen jetta 2008
volkswagen jetta 1999
volkswagen jetta 1999
volkswagen new beetle 1999
volkswagen new beetle 1999
volkswagen new beetle 1999
volkswagen new beetle 1999
volkswagen new beetle 2008
volkswagen new beetle 2008
volkswagen passat 1999
volkswagen passat 1999
volkswagen passat 2008
volkswagen passat 2008
volkswagen passat 1999
volkswagen passat 1999
volkswagen passat 2008

- mpg객체에서 manufacturer, model, year 속성을 가져와서 i, j, k라는 빈 리스트에 각각 추가하는 작업

In [7]:
i = []
j = []
k = []

for a,b,c in zip(mpg.manufacturer, mpg.model, mpg.year):
    i.append(a)
    j.append(b)
    k.append(c)
    
print(i)

['audi', 'audi', 'audi', 'audi', 'audi', 'audi', 'audi', 'audi', 'audi', 'audi', 'audi', 'audi', 'audi', 'audi', 'audi', 'audi', 'audi', 'audi', 'chevrolet', 'chevrolet', 'chevrolet', 'chevrolet', 'chevrolet', 'chevrolet', 'chevrolet', 'chevrolet', 'chevrolet', 'chevrolet', 'chevrolet', 'chevrolet', 'chevrolet', 'chevrolet', 'chevrolet', 'chevrolet', 'chevrolet', 'chevrolet', 'chevrolet', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'ford', 'ford', 'ford', 'ford', 'ford', 'ford', 'ford', 'ford', 'ford', 'ford', 'ford', 'ford', 'ford', 'ford', 'ford', 'ford', 'ford', 'ford', 'ford', 'ford', 'ford', 'ford', 'ford', 'ford', 'ford', 'honda', 'honda', 'honda', 'honda', 'honda', 'honda', 'honda', 'honda', 'honda', 'hyundai', 'hyundai', 'hyundai', 'hyundai', 'hyundai', 'hyundai', 'hyundai', 'hyundai', 'hyundai', 'hyundai', 'hyundai', 'hyundai', 'hyundai', 'hyundai', 'jeep', 'jeep', 'jeep', 'jeep', 'jeep', 'jeep', 'jeep', 'jeep', 'land rover', 'land rover', 'land rover', 'land rover', 'lincoln', 'lincoln', 'lincoln', 'mercury', 'mercury', 'mercury', 'mercury', 'nissan', 'nissan', 'nissan', 'nissan', 'nissan', 'nissan', 'nissan', 'nissan', 'nissan', 'nissan', 'nissan', 'nissan', 'nissan', 'pontiac', 'pontiac', 'pontiac', 'pontiac', 'pontiac', 'subaru', 'subaru', 'subaru', 'subaru', 'subaru', 'subaru', 'subaru', 'subaru', 'subaru', 'subaru', 'subaru', 'subaru', 'subaru', 'subaru', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'volkswagen', 'volkswagen', 'volkswagen', 'volkswagen', 'volkswagen', 'volkswagen', 'volkswagen', 'volkswagen', 'volkswagen', 'volkswagen', 'volkswagen', 'volkswagen', 'volkswagen', 'volkswagen', 'volkswagen', 'volkswagen', 'volkswagen', 'volkswagen', 'volkswagen', 'volkswagen', 'volkswagen', 'volkswagen', 'volkswagen', 'volkswagen', 'volkswagen', 'volkswagen', 'volkswagen']

In [29]:
# 리스트 컴프리헨션 이용
i = [a for a, _, _ in zip(mpg.manufacturer, mpg.model, mpg.year)]
j = [b for _, b, _ in zip(mpg.manufacturer, mpg.model, mpg.year)]
k = [c for _, _, c in zip(mpg.manufacturer, mpg.model, mpg.year)]

print(i)

['audi', 'audi', 'audi', 'audi', 'audi', 'audi', 'audi', 'audi', 'audi', 'audi', 'audi', 'audi', 'audi', 'audi', 'audi', 'audi', 'audi', 'audi', 'chevrolet', 'chevrolet', 'chevrolet', 'chevrolet', 'chevrolet', 'chevrolet', 'chevrolet', 'chevrolet', 'chevrolet', 'chevrolet', 'chevrolet', 'chevrolet', 'chevrolet', 'chevrolet', 'chevrolet', 'chevrolet', 'chevrolet', 'chevrolet', 'chevrolet', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'dodge', 'ford', 'ford', 'ford', 'ford', 'ford', 'ford', 'ford', 'ford', 'ford', 'ford', 'ford', 'ford', 'ford', 'ford', 'ford', 'ford', 'ford', 'ford', 'ford', 'ford', 'ford', 'ford', 'ford', 'ford', 'ford', 'honda', 'honda', 'honda', 'honda', 'honda', 'honda', 'honda', 'honda', 'honda', 'hyundai', 'hyundai', 'hyundai', 'hyundai', 'hyundai', 'hyundai', 'hyundai', 'hyundai', 'hyundai', 'hyundai', 'hyundai', 'hyundai', 'hyundai', 'hyundai', 'jeep', 'jeep', 'jeep', 'jeep', 'jeep', 'jeep', 'jeep', 'jeep', 'land rover', 'land rover', 'land rover', 'land rover', 'lincoln', 'lincoln', 'lincoln', 'mercury', 'mercury', 'mercury', 'mercury', 'nissan', 'nissan', 'nissan', 'nissan', 'nissan', 'nissan', 'nissan', 'nissan', 'nissan', 'nissan', 'nissan', 'nissan', 'nissan', 'pontiac', 'pontiac', 'pontiac', 'pontiac', 'pontiac', 'subaru', 'subaru', 'subaru', 'subaru', 'subaru', 'subaru', 'subaru', 'subaru', 'subaru', 'subaru', 'subaru', 'subaru', 'subaru', 'subaru', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'toyota', 'volkswagen', 'volkswagen', 'volkswagen', 'volkswagen', 'volkswagen', 'volkswagen', 'volkswagen', 'volkswagen', 'volkswagen', 'volkswagen', 'volkswagen', 'volkswagen', 'volkswagen', 'volkswagen', 'volkswagen', 'volkswagen', 'volkswagen', 'volkswagen', 'volkswagen', 'volkswagen', 'volkswagen', 'volkswagen', 'volkswagen', 'volkswagen', 'volkswagen', 'volkswagen', 'volkswagen']

In [8]:
mpg.year.mean()

2003.5

- mpg데이터 중 manufacturer ,year 그 중 year 2003.5 이상인 값들만 불러옴

In [9]:
for a, b in zip(mpg.manufacturer,mpg.year):
    if b>=2003.5:
        print(a,b)

audi 2008
audi 2008
audi 2008
audi 2008
audi 2008
audi 2008
audi 2008
audi 2008
audi 2008
chevrolet 2008
chevrolet 2008
chevrolet 2008
chevrolet 2008
chevrolet 2008
chevrolet 2008
chevrolet 2008
chevrolet 2008
chevrolet 2008
chevrolet 2008
chevrolet 2008
chevrolet 2008
dodge 2008
dodge 2008
dodge 2008
dodge 2008
dodge 2008
dodge 2008
dodge 2008
dodge 2008
dodge 2008
dodge 2008
dodge 2008
dodge 2008
dodge 2008
dodge 2008
dodge 2008
dodge 2008
dodge 2008
dodge 2008
dodge 2008
dodge 2008
dodge 2008
ford 2008
ford 2008
ford 2008
ford 2008
ford 2008
ford 2008
ford 2008
ford 2008
ford 2008
ford 2008
honda 2008
honda 2008
honda 2008
honda 2008
hyundai 2008
hyundai 2008
hyundai 2008
hyundai 2008
hyundai 2008
hyundai 2008
hyundai 2008
hyundai 2008
jeep 2008
jeep 2008
jeep 2008
jeep 2008
jeep 2008
jeep 2008
land rover 2008
land rover 2008
lincoln 2008
mercury 2008
mercury 2008
nissan 2008
nissan 2008
nissan 2008
nissan 2008
nissan 2008
nissan 2008
nissan 2008
pontiac 2008
pontiac 2008
subaru 2008
subaru 2008
subaru 2008
subaru 2008
subaru 2008
subaru 2008
subaru 2008
subaru 2008
toyota 2008
toyota 2008
toyota 2008
toyota 2008
toyota 2008
toyota 2008
toyota 2008
toyota 2008
toyota 2008
toyota 2008
toyota 2008
toyota 2008
toyota 2008
toyota 2008
volkswagen 2008
volkswagen 2008
volkswagen 2008
volkswagen 2008
volkswagen 2008
volkswagen 2008
volkswagen 2008
volkswagen 2008
volkswagen 2008
volkswagen 2008
volkswagen 2008

In [31]:
# 리스트 컴프리헨션 이용
data = [(a, b) for a, b in zip(mpg.manufacturer, mpg.year) if b >= 2003.5]
for a, b in data:
    print(a, b)

audi 2008
audi 2008
audi 2008
audi 2008
audi 2008
audi 2008
audi 2008
audi 2008
audi 2008
chevrolet 2008
chevrolet 2008
chevrolet 2008
chevrolet 2008
chevrolet 2008
chevrolet 2008
chevrolet 2008
chevrolet 2008
chevrolet 2008
chevrolet 2008
chevrolet 2008
chevrolet 2008
dodge 2008
dodge 2008
dodge 2008
dodge 2008
dodge 2008
dodge 2008
dodge 2008
dodge 2008
dodge 2008
dodge 2008
dodge 2008
dodge 2008
dodge 2008
dodge 2008
dodge 2008
dodge 2008
dodge 2008
dodge 2008
dodge 2008
dodge 2008
dodge 2008
ford 2008
ford 2008
ford 2008
ford 2008
ford 2008
ford 2008
ford 2008
ford 2008
ford 2008
ford 2008
honda 2008
honda 2008
honda 2008
honda 2008
hyundai 2008
hyundai 2008
hyundai 2008
hyundai 2008
hyundai 2008
hyundai 2008
hyundai 2008
hyundai 2008
jeep 2008
jeep 2008
jeep 2008
jeep 2008
jeep 2008
jeep 2008
land rover 2008
land rover 2008
lincoln 2008
mercury 2008
mercury 2008
nissan 2008
nissan 2008
nissan 2008
nissan 2008
nissan 2008
nissan 2008
nissan 2008
pontiac 2008
pontiac 2008
subaru 2008
subaru 2008
subaru 2008
subaru 2008
subaru 2008
subaru 2008
subaru 2008
subaru 2008
toyota 2008
toyota 2008
toyota 2008
toyota 2008
toyota 2008
toyota 2008
toyota 2008
toyota 2008
toyota 2008
toyota 2008
toyota 2008
toyota 2008
toyota 2008
toyota 2008
volkswagen 2008
volkswagen 2008
volkswagen 2008
volkswagen 2008
volkswagen 2008
volkswagen 2008
volkswagen 2008
volkswagen 2008
volkswagen 2008
volkswagen 2008
volkswagen 2008

- jeep,ford 데이터중 2008년도 해당하는 자료만 가져오기

In [15]:
car_manu= ['jeep','ford'] 
car_year = [2008]
for a, b in zip(mpg.manufacturer, mpg.year):
    if a in car_manu and b in car_year:
        print(a,b)

ford 2008
ford 2008
ford 2008
ford 2008
ford 2008
ford 2008
ford 2008
ford 2008
ford 2008
ford 2008
jeep 2008
jeep 2008
jeep 2008
jeep 2008
jeep 2008
jeep 2008

In [32]:
data = [(a, b) for a, b in zip(mpg.manufacturer, mpg.year) if a in car_manu and b in car_year]
for a, b in data:
    print(a, b)

ford 2008
ford 2008
ford 2008
ford 2008
ford 2008
ford 2008
ford 2008
ford 2008
ford 2008
ford 2008
jeep 2008
jeep 2008
jeep 2008
jeep 2008
jeep 2008
jeep 2008

- 데이터 프레임의 각 행을 Panda 타입의 자료형으로 반복

In [16]:
for row in mpg.itertuples(): 
    print(row.manufacturer, row.year)

audi 1999
audi 1999
audi 2008
audi 2008
audi 1999
audi 1999
audi 2008
audi 1999
audi 1999
audi 2008
audi 2008
audi 1999
audi 1999
audi 2008
audi 2008
audi 1999
audi 2008
audi 2008
chevrolet 2008
chevrolet 2008
chevrolet 2008
chevrolet 1999
chevrolet 2008
chevrolet 1999
chevrolet 1999
chevrolet 2008
chevrolet 2008
chevrolet 2008
chevrolet 2008
chevrolet 2008
chevrolet 1999
chevrolet 1999
chevrolet 1999
chevrolet 2008
chevrolet 1999
chevrolet 2008
chevrolet 2008
dodge 1999
dodge 1999
dodge 1999
dodge 1999
dodge 2008
dodge 2008
dodge 2008
dodge 1999
dodge 1999
dodge 2008
dodge 2008
dodge 2008
dodge 2008
dodge 1999
dodge 1999
dodge 2008
dodge 2008
dodge 2008
dodge 1999
dodge 1999
dodge 1999
dodge 2008
dodge 2008
dodge 2008
dodge 1999
dodge 2008
dodge 1999
dodge 2008
dodge 2008
dodge 2008
dodge 2008
dodge 2008
dodge 2008
dodge 1999
dodge 1999
dodge 2008
dodge 1999
ford 1999
ford 1999
ford 2008
ford 1999
ford 1999
ford 1999
ford 2008
ford 2008
ford 1999
ford 1999
ford 1999
ford 1999
ford 1999
ford 2008
ford 1999
ford 2008
ford 1999
ford 1999
ford 2008
ford 2008
ford 1999
ford 1999
ford 2008
ford 2008
ford 2008
honda 1999
honda 1999
honda 1999
honda 1999
honda 1999
honda 2008
honda 2008
honda 2008
honda 2008
hyundai 1999
hyundai 1999
hyundai 2008
hyundai 2008
hyundai 1999
hyundai 1999
hyundai 2008
hyundai 1999
hyundai 1999
hyundai 2008
hyundai 2008
hyundai 2008
hyundai 2008
hyundai 2008
jeep 2008
jeep 2008
jeep 1999
jeep 1999
jeep 2008
jeep 2008
jeep 2008
jeep 2008
land rover 1999
land rover 2008
land rover 2008
land rover 1999
lincoln 1999
lincoln 1999
lincoln 2008
mercury 1999
mercury 2008
mercury 2008
mercury 1999
nissan 1999
nissan 1999
nissan 2008
nissan 2008
nissan 2008
nissan 2008
nissan 1999
nissan 1999
nissan 2008
nissan 1999
nissan 1999
nissan 2008
nissan 2008
pontiac 1999
pontiac 1999
pontiac 1999
pontiac 2008
pontiac 2008
subaru 1999
subaru 1999
subaru 2008
subaru 2008
subaru 2008
subaru 2008
subaru 1999
subaru 1999
subaru 1999
subaru 1999
subaru 2008
subaru 2008
subaru 2008
subaru 2008
toyota 1999
toyota 1999
toyota 1999
toyota 1999
toyota 2008
toyota 2008
toyota 1999
toyota 1999
toyota 2008
toyota 2008
toyota 1999
toyota 1999
toyota 2008
toyota 1999
toyota 1999
toyota 2008
toyota 2008
toyota 1999
toyota 1999
toyota 2008
toyota 1999
toyota 1999
toyota 1999
toyota 2008
toyota 2008
toyota 1999
toyota 2008
toyota 1999
toyota 1999
toyota 2008
toyota 1999
toyota 1999
toyota 2008
toyota 2008
volkswagen 1999
volkswagen 1999
volkswagen 2008
volkswagen 2008
volkswagen 1999
volkswagen 1999
volkswagen 1999
volkswagen 1999
volkswagen 2008
volkswagen 2008
volkswagen 2008
volkswagen 2008
volkswagen 1999
volkswagen 1999
volkswagen 1999
volkswagen 1999
volkswagen 1999
volkswagen 1999
volkswagen 2008
volkswagen 2008
volkswagen 1999
volkswagen 1999
volkswagen 2008
volkswagen 2008
volkswagen 1999
volkswagen 1999
volkswagen 2008

In [17]:
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

- m5만 추출하는 함수(수업중 배운버전)

In [54]:
def get_trans_spe(series): 
    tr_cnt =len([ _ for x in series if x[0] in 'm5'])
    return tr_cnt

In [55]:
get_trans_spe(mpg.trans)

77

In [56]:
mpg.groupby('manufacturer').agg({'trans':get_trans_spe}).reset_index()

   manufacturer  trans
0          audi      7
1     chevrolet      3
2         dodge      7
3          ford      8
4         honda      5
5       hyundai      7
6          jeep      0
7    land rover      0
8       lincoln      0
9       mercury      0
10       nissan      5
11      pontiac      0
12       subaru      7
13       toyota     14
14   volkswagen     14

- m5만 추출하는 함수 = len다음값에 _없이 구현한 버전

In [66]:
def get_trans_spe2(series):
    tr_cnt = len([x for x in series if x[0] in 'm5'])
    return tr_cnt

In [67]:
get_trans_spe2(mpg.trans)

77

In [68]:
mpg.groupby('manufacturer').agg({'trans':get_trans_spe2}).reset_index()

   manufacturer  trans
0          audi      7
1     chevrolet      3
2         dodge      7
3          ford      8
4         honda      5
5       hyundai      7
6          jeep      0
7    land rover      0
8       lincoln      0
9       mercury      0
10       nissan      5
11      pontiac      0
12       subaru      7
13       toyota     14
14   volkswagen     14

In [69]:
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [70]:
# trans가 auto(s6)인 경우 trans와 good 출력, auto(I5)인 경우 trans와 normal 출력, 그렇지 않은 경우 bad 출력

In [71]:
for df_tr in mpg['trans']:
    if df_tr == 'auto(s6)':
        print(df_tr, 'good')
    elif df_tr == 'auto(l5)':
        print(df_tr, 'normal')
    else:
        print(df_tr, 'bad')

auto(l5) normal
manual(m5) bad
manual(m6) bad
auto(av) bad
auto(l5) normal
manual(m5) bad
auto(av) bad
manual(m5) bad
auto(l5) normal
manual(m6) bad
auto(s6) good
auto(l5) normal
manual(m5) bad
auto(s6) good
manual(m6) bad
auto(l5) normal
auto(s6) good
auto(s6) good
auto(l4) bad
auto(l4) bad
auto(l4) bad
auto(l4) bad
auto(l4) bad
manual(m6) bad
auto(l4) bad
manual(m6) bad
auto(s6) good
manual(m6) bad
auto(l4) bad
auto(l4) bad
auto(l4) bad
auto(l4) bad
auto(l4) bad
auto(l4) bad
auto(l4) bad
auto(l4) bad
auto(s6) good
auto(l3) bad
auto(l4) bad
auto(l4) bad
auto(l4) bad
auto(l4) bad
auto(l4) bad
auto(l4) bad
auto(l4) bad
auto(l4) bad
auto(l6) bad
auto(l6) bad
manual(m6) bad
auto(l4) bad
auto(l4) bad
manual(m5) bad
auto(l5) normal
auto(l5) normal
auto(l5) normal
manual(m5) bad
auto(l4) bad
auto(l4) bad
auto(l5) normal
auto(l5) normal
auto(l5) normal
auto(l4) bad
auto(l5) normal
auto(l4) bad
manual(m6) bad
auto(l5) normal
auto(l5) normal
auto(l5) normal
manual(m6) bad
manual(m6) bad
auto(l4) bad
manual(m5) bad
auto(l5) normal
auto(l4) bad
auto(l4) bad
auto(l4) bad
auto(l6) bad
auto(l5) normal
manual(m5) bad
auto(l5) normal
auto(l5) normal
auto(l6) bad
auto(l4) bad
auto(l4) bad
manual(m5) bad
manual(m5) bad
auto(l4) bad
auto(l4) bad
auto(l4) bad
auto(l4) bad
manual(m5) bad
auto(l4) bad
manual(m5) bad
auto(l5) normal
auto(l4) bad
manual(m5) bad
manual(m5) bad
auto(l5) normal
manual(m6) bad
manual(m5) bad
auto(l4) bad
manual(m5) bad
manual(m5) bad
auto(l4) bad
manual(m5) bad
auto(l5) normal
auto(l5) normal
manual(m6) bad
auto(l4) bad
manual(m5) bad
auto(l4) bad
manual(m5) bad
auto(l4) bad
manual(m5) bad
auto(l5) normal
auto(l4) bad
manual(m5) bad
manual(m5) bad
auto(l4) bad
auto(l4) bad
manual(m6) bad
manual(m5) bad
auto(l5) normal
auto(l5) normal
auto(l4) bad
auto(l4) bad
auto(l5) normal
auto(l5) normal
auto(l5) normal
auto(l5) normal
auto(l4) bad
auto(s6) good
auto(s6) good
auto(l4) bad
auto(l4) bad
auto(l4) bad
auto(l6) bad
auto(l5) normal
auto(l5) normal
auto(l6) bad
auto(l4) bad
manual(m5) bad
auto(l4) bad
auto(av) bad
manual(m6) bad
manual(m6) bad
auto(av) bad
auto(l4) bad
manual(m5) bad
auto(av) bad
auto(l4) bad
manual(m5) bad
auto(l5) normal
auto(s5) bad
auto(l4) bad
auto(l4) bad
auto(l4) bad
auto(l4) bad
auto(s4) bad
manual(m5) bad
auto(l4) bad
manual(m5) bad
manual(m5) bad
auto(l4) bad
auto(l4) bad
auto(l4) bad
manual(m5) bad
manual(m5) bad
auto(l4) bad
auto(s4) bad
auto(s4) bad
manual(m5) bad
manual(m5) bad
manual(m5) bad
auto(l4) bad
auto(l4) bad
manual(m5) bad
auto(l5) normal
auto(l5) normal
manual(m5) bad
auto(l4) bad
manual(m5) bad
auto(l5) normal
auto(l4) bad
manual(m5) bad
auto(s6) good
auto(l4) bad
manual(m5) bad
manual(m5) bad
auto(s5) bad
auto(l4) bad
manual(m5) bad
auto(s5) bad
auto(l3) bad
auto(l4) bad
manual(m5) bad
manual(m5) bad
auto(l4) bad
auto(l4) bad
auto(s6) good
manual(m5) bad
auto(l4) bad
manual(m5) bad
manual(m5) bad
auto(l4) bad
manual(m6) bad
auto(l5) normal
manual(m5) bad
auto(l4) bad
manual(m6) bad
auto(s6) good
manual(m5) bad
manual(m5) bad
manual(m5) bad
auto(l4) bad
auto(s6) good
manual(m6) bad
auto(s6) good
manual(m5) bad
auto(l4) bad
manual(m5) bad
manual(m5) bad
auto(l4) bad
manual(m5) bad
auto(l4) bad
manual(m5) bad
auto(s6) good
manual(m5) bad
auto(l5) normal
auto(s6) good
manual(m6) bad
auto(l5) normal
manual(m5) bad
auto(s6) good

- category가 midsize인 자료들을 제조사별로 분류하기

In [76]:
def get_cat_midsize(series):
    hwy_category = len([_ for x in series if x[0] in 'midsize'])
    return hwy_category

In [77]:
get_cat_midsize(mpg.category)

149

In [78]:
mpg.groupby('manufacturer').agg({'category':get_cat_midsize}).reset_index()

   manufacturer  category
0          audi         3
1     chevrolet        14
2         dodge        18
3          ford        18
4         honda         9
5       hyundai        14
6          jeep         8
7    land rover         4
8       lincoln         3
9       mercury         4
10       nissan        11
11      pontiac         5
12       subaru        10
13       toyota        15
14   volkswagen        13