### 데이터
- 데이터를 통계적으로 생각해 보자
- 질적 변수와 양적 변수
- 질적 변수 : 만족도, 혈액형 설문조사식의 변수들이다.
- 양적 변수 : 수치 시험 점수, 혈압, 양을 표현하는 것들
- 이런 변수들 -> 머신러닝을 위해서 인코딩, 임베딩 -> 변수를 수치화 하는 작업

> 척도

- 명의 척도, 순서 척도, 간격 척도, 비례 척도, 단순히 분류하기 위한 변수 = 성별, 전화번호 이런 값을 계산하면 의미는 없다. 전화번호 + 전화번호 의미 없다.
- 순서 척도 = 순서 관계, 대소 관계 설문조사 만족도, 0!5 점수, 성적 순위 1~50등 순서간의 관계를 보면 1등과 2등 차이와 10등과 11등 차이가 같다고 볼 수는 없다.
- 간격 척도 = 대소 관계인데 차이또한 의미가 있다. 온도 100도로 가면 더 높은 것 0도 낮은 것 60도 30도가 2배차이라고 말할 수는 없다.
- 비례 척도 = 대소 관계, 차이, 비 모두 의미가 있다. 길이 50cm 200cm 4배 길다.
- 간격 척도, 비례 척도 비교시 절대 0점 이야기를 한다. 온도 같은 경우는 0도가 있다. 길이는 0cm는 없다고 본다. 그 차이로 간격과 비례를 이해해도 된다.

- 척도에 따라서 통계분석은 달라지게 된다. 명목형, 순서형에 따라서 t-test, 카이제곱, 분산분석을 해야 하는지 이런 것들이 결국 데이터 타입에 따라 다 달라진다.

> 변수

- 이산형 변수, 연속형 변수
- 이산형 0,1,2,3,4 하나하나 값을 취하는 변수 서로 인접한 값의 사이 값은 존재하지 않는다. 0, 1, 2, 3
- 연속형 연속적인 값을 취한다. 0, 1 이더라도 그 안에 무수한 값이 있다. 0,1,0,001
- 이산형은 머신러닝에서 분류라는 모델링을 진행한 것
- 정답이 0,1,2 이진,다중분류의 문제를 해결하는 것
--------------------------------------------------------------------------
- 연속형은 머신러닝에서 회귀라는 모델링을 진행한 것 
- 연속적인 숫자를 예측하는 회귀로 문제를 해결하는 것 (연속적인 값)

- 이산형과 연속형의 스케일링 방법도 다 다르다. 
- 연속적인 값은 스케일링 가능하다 (정규화)

- 이산형은 사실 스케일 방법이 다르다. 문자형데이터인 경우에는 -> 인코딩할 수 있다. 임베딩할 수 있다.

In [2]:
#실제 데이터를 가지고 비교
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('scores_em.csv')

In [4]:
df

    student number  english  mathematics
0                1       42           65
1                2       69           80
2                3       56           63
3                4       41           63
4                5       57           76
5                6       48           60
6                7       65           81
7                8       49           66
8                9       65           78
9               10       58           82
10              11       70           94
11              12       47           75
12              13       51           70
13              14       64           77
14              15       62           84
15              16       70           84
16              17       71           82
17              18       68           85
18              19       73           90
19              20       37           70
20              21       65           78
21              22       65           93
22              23       61           77
23              24       52           88
24              25       57           82
25              26       57           76
26              27       75           87
27              28       61           84
28              29       47           77
29              30       54           82
30              31       66           91
31              32       54           75
32              33       54           76
33              34       42           78
34              35       37           57
35              36       79           89
36              37       56           83
37              38       62           69
38              39       62           86
39              40       55           81
40              41       63           81
41              42       57           80
42              43       57           79
43              44       67           87
44              45       55           84
45              46       45           71
46              47       66           80
47              48       55           77
48              49       64           83
49              50       66           88

### 1차원 데이터를 가지고 비교해 보기
- 해당 데이터의 중심을 나타내는 지표
- 대푯값
- 평균, 중앙값, 최빈값
- 평균 = 데이터 모두 더하고/데이터 전체 개수 나누기
- 중앙값 = 데이터의 크기를 순서대로 나열할 때 중앙에 위치한 값
- 최빈값 = 데이터에서 가장 많이 나타나는 값

In [5]:
df.english.mean() # 평균

58.38

In [6]:
mean_value = df["english"].mean() # 평균

In [7]:
mean_value

58.38

In [8]:
df.english.median() # 중앙값

57.5

In [9]:
median_value = df["english"].median()

In [10]:
median_value

57.5

In [11]:
df.english.mode() # 최빈값

0    57
Name: english, dtype: int64

In [12]:
mode_value = df["english"].mode()

In [13]:
mode_value

0    57
Name: english, dtype: int64

In [14]:
df.describe() #  요약 통계 표

       student number    english  mathematics
count        50.00000  50.000000    50.000000
mean         25.50000  58.380000    78.880000
std          14.57738   9.799813     8.414371
min           1.00000  37.000000    57.000000
25%          13.25000  54.000000    76.000000
50%          25.50000  57.500000    80.000000
75%          37.75000  65.000000    84.000000
max          50.00000  79.000000    94.000000

- 표준편차, 분산 
- 데이터에 대한 산포도의 개념 
- 얼마나 데이터가 퍼져 있는가?

- A반은 전체 50점 20명 ( 평균 50 )
- B반은 10명 0점 0명 100점 10명 (평균 50)

- 산포도를 알기 위한 편차 
- 편차는 결국 각 데이터가 평균으로부터 어느정도 떨어져 있는가 이다.
- 영어 42점 평균 60 이 값은 평균으로 부터 18점 떨어져 있다.

In [15]:
en_mean= np.mean(df.english) # english 열 평균 계산 en_mean = np.mean(df["english"])

In [16]:
deviation=df.english- en_mean # 열의 각 값들의 평균값으로부터 편차 계산해서 df 에 새로운시리즈 또는 열로 저장

In [17]:
np.sum(df.english- en_mean) # english" 열의 값들과 평균(en_mean)의 차이를 계산하고, 그 차이들의 총합을 구하는 코드

-1.2789769243681803e-13

- 산포도 평균으로부터 떨어져 있는 차이를 나타낸 분산은 결국 평균이 항상 0에 가깝기 때문에
- 이걸 가지고 판단 하기가 어렵다.

- 표준편차를 사용하는 이유 
- 분산으로만 보기에는 어렵고, 데이터의 특성이 다 다를 것이고 동일한 지표를 사용해야 하기 때문에
- 산포도에서 지표로 보는 분산에 제곱근을 취한 표준편차를 사용하는 것

In [18]:
df['deviation'] = deviation

-표준편차는 산포도 지표에서 분산에 제곱근을 취한 것

In [19]:
np.sqrt(np.var(df['english'])) #표준편차 #sqrt 제곱근

9.70131949788275

In [20]:
np.std(df['english']) #표준편차 #std 바로 표준편차

9.70131949788275

### 사분위 범위
- IQR
- 데이터의 범위를 정하는 것 25% 50% 75% 
- 데이터의 분포 접근하는 것이라 이상치에 민감하지 않다.
- IQR 이상치를 계산할 때 통계적으로 사용한다.

In [21]:
len(df)

50

In [22]:
# 가장 작은 값부터 시작하면 쭉 분포가 나올 것
df.english.sort_values()

19    37
34    37
3     41
0     42
33    42
45    45
28    47
11    47
5     48
7     49
12    51
23    52
32    54
31    54
29    54
39    55
44    55
47    55
36    56
2     56
42    57
41    57
25    57
24    57
4     57
9     58
27    61
22    61
38    62
37    62
14    62
40    63
48    64
13    64
20    65
8     65
6     65
21    65
30    66
46    66
49    66
43    67
17    68
1     69
10    70
15    70
16    71
18    73
26    75
35    79
Name: english, dtype: int64

In [23]:
np.percentile(df['english'],25) #값이 분포하는 구간 범위 25%까지의 구간 100개 데이터가 있으면 25개의 값 구간의 해당 값

54.0

In [24]:
np.percentile(df['english'],50) #meian

57.5

In [25]:
np.percentile(df['english'],75)

65.0

### 데이터의 정규화
- 통일된 지표가 피룡한 것
- 다양한 변수들로 인한 지표값이 다 다르기 대문에 맞춰주는 것
- 정규화는 머신러닝에도, 추측통계에서도 사용하기 때문에 필수적으로 알아야 한다!

In [28]:
## 표준화
# z-score 
z = (df.english - np.mean(df.english))/np.std(df.english)

In [29]:
df['z-score'] = z

In [30]:
df

    student number  english  mathematics  deviation   z-score
0                1       42           65     -16.38 -1.688430
1                2       69           80      10.62  1.094696
2                3       56           63      -2.38 -0.245327
3                4       41           63     -17.38 -1.791509
4                5       57           76      -1.38 -0.142249
5                6       48           60     -10.38 -1.069958
6                7       65           81       6.62  0.682381
7                8       49           66      -9.38 -0.966879
8                9       65           78       6.62  0.682381
9               10       58           82      -0.38 -0.039170
10              11       70           94      11.62  1.197775
11              12       47           75     -11.38 -1.173036
12              13       51           70      -7.38 -0.760721
13              14       64           77       5.62  0.579303
14              15       62           84       3.62  0.373145
15              16       70           84      11.62  1.197775
16              17       71           82      12.62  1.300854
17              18       68           85       9.62  0.991618
18              19       73           90      14.62  1.507011
19              20       37           70     -21.38 -2.203824
20              21       65           78       6.62  0.682381
21              22       65           93       6.62  0.682381
22              23       61           77       2.62  0.270066
23              24       52           88      -6.38 -0.657642
24              25       57           82      -1.38 -0.142249
25              26       57           76      -1.38 -0.142249
26              27       75           87      16.62  1.713169
27              28       61           84       2.62  0.270066
28              29       47           77     -11.38 -1.173036
29              30       54           82      -4.38 -0.451485
30              31       66           91       7.62  0.785460
31              32       54           75      -4.38 -0.451485
32              33       54           76      -4.38 -0.451485
33              34       42           78     -16.38 -1.688430
34              35       37           57     -21.38 -2.203824
35              36       79           89      20.62  2.125484
36              37       56           83      -2.38 -0.245327
37              38       62           69       3.62  0.373145
38              39       62           86       3.62  0.373145
39              40       55           81      -3.38 -0.348406
40              41       63           81       4.62  0.476224
41              42       57           80      -1.38 -0.142249
42              43       57           79      -1.38 -0.142249
43              44       67           87       8.62  0.888539
44              45       55           84      -3.38 -0.348406
45              46       45           71     -13.38 -1.379194
46              47       66           80       7.62  0.785460
47              48       55           77      -3.38 -0.348406
48              49       64           83       5.62  0.579303
49              50       66           88       7.62  0.785460

In [31]:
50+10*(df.english - np.mean(df.english))/np.std(df.english)

0     33.115699
1     60.946964
2     47.546725
3     32.084911
4     48.577513
5     39.300425
6     56.823814
7     40.331212
8     56.823814
9     49.608301
10    61.977752
11    38.269637
12    42.392787
13    55.793026
14    53.731451
15    61.977752
16    63.008540
17    59.916177
18    65.070115
19    27.961761
20    56.823814
21    56.823814
22    52.700664
23    43.423575
24    48.577513
25    48.577513
26    67.131690
27    52.700664
28    38.269637
29    45.485150
30    57.854602
31    45.485150
32    45.485150
33    33.115699
34    27.961761
35    71.254841
36    47.546725
37    53.731451
38    53.731451
39    46.515938
40    54.762239
41    48.577513
42    48.577513
43    58.885389
44    46.515938
45    36.208062
46    57.854602
47    46.515938
48    55.793026
49    57.854602
Name: english, dtype: float64

- 평균은 50이고 10이 표준편차인 값을 편차값을 만드는 것

### 시각화
- 히스토그램으로 확인
- 도수분포표
- 히스토그램과 도수분포표의 차이를 알고 있어야 한다.

- 도수분포표는 분할된 구간과 데이터의 개수를 세는 것
- 기존의 영어점수가 점수대별 구간을 만들고 그 구간의 빈도를 세고 그 빈도를 시각화하여 도수분포표를 만드는 것
- 영어 점수를 0~10점 10-20점 구간을 계급
- 계급에 속한 학생 수를 도수(빈도)
- 구간의 폭을 계급폭 10
- 계급의 수를 계급수

- 도수분포표를 만드는 구성
--------------
- 히스토그램
- 도수분포표를 막대 그래프로 나타낸 것 
- 히스토그램은 데이터의 분포를 이해할 때 시각적으로 사용한다.

In [33]:
eng = np.array(df['english'])

In [35]:
eng

array([42, 69, 56, 41, 57, 48, 65, 49, 65, 58, 70, 47, 51, 64, 62, 70, 71,
       68, 73, 37, 65, 65, 61, 52, 57, 57, 75, 61, 47, 54, 66, 54, 54, 42,
       37, 79, 56, 62, 62, 55, 63, 57, 57, 67, 55, 45, 66, 55, 64, 66],
      dtype=int64)